.nav {
  background-color: cadetblue;
  width: 100%;
}

.nav-list {
  display: flex;
  margin: 0;
  justify-content: flex-end;
}

.list {
  display: inline-block;
  justify-content: left;
}

.title {
  display: block;
  padding: 15px;
  color: antiquewhite;
  font-size: 25px;
  text-decoration: none;
}


h1 {
  font-family: sans-serif;
  text-align: center;
  padding: 8px;
  color: cadetblue;
}

#sign {
  text-align: center;
  font-size: 16pt;
  font-family: cursive;
  color: cadetblue;
}

h2 {
  text-align: left;
  font-family: sans-serif;
  color: cadetblue;
}

.project-tile {
  display: inline-grid;
  padding: 10px;

}


p {
  font-family: sans-serif;
  color: cadetblue;
  font-size: 12pt;
  font-weight: inherit;
  text-align: center;
}

.contact-links {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  margin: 1px;
}

.contactme {
  color: antiquewhite;
  margin-left: 20px;

}


#clock {
  width: 200px;
  height: 215px;
  object-fit: cover;
  transition-property: opacity, left;
  transition-duration: 3s, 5s;
   box-shadow: 7px 7px 11px 1px grey;
}

#calculadora {
  width: 172px;
  height: 221px;
  object-fit: unset;
   box-shadow: 7px 7px 11px 1px grey;
}


#image-box {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  padding: inherit;
  overflow-x: scroll;
  background-color: #f6f3ea;

}

::-webkit-scrollbar {
  width: 15px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: darkkhaki;
}


#quotes {
  width: 300px;
   box-shadow: 7px 7px 11px 1px grey;
}

#drum {
  width: 200px;
  height: 200px;

}

#rock {
  width: 230px;
  height: 230px;

}

#books {
  height: 230px;
  box-shadow: 7px 7px 8px 1px grey;
}

#quizz {
  width: 250px;
  height: 250px;
  box-shadow: 7px 7px 11px 1px grey;
}

#trellau {

  height: 180px;
  box-shadow:7px 7px 11px 1px grey;

}
#containerAll{
   height: 83vh;
}
