.nav {
  background-color: mediumvioletred;
  width: 100%;
}

.nav-list {
  display: flex;
  margin: 0;
  justify-content: flex-end;
}

.list {
  display: inline-block;
  justify-content: left;
}

a {
  display: block;
  padding: 15px;
  color: antiquewhite;
  font-size: 30px;
  text-decoration: none;
}
